/HolaMundoJSPs/target/
/ExpresionesJSPs/target/
/Control_Clientes/target/
/SistemaDeventas/nbproject/private/
/SistemaDeventas/build/
/SoftwareVentas/nbproject/private/
/SoftwareVentas/build/
/SoftwareVentas/dist/
