body{
    background-color: beige;
}

#mainContainer{
    margin: 20px;
    float: left;
    border-style: solid;
    border-color: red;
    max-width: 400px;
    border-radius: 25px;
    background-color: blanchedalmond;
    border-color: bisque;
}
h1{
    line-height: 1.6em;
    font-family: "Lucida San Unicode", "Lucida Grande", "Sans-Serif";
    font-size: 30px;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}

form{
    line-height: 1.6em;
    font-family: "Lucida San Unicode", "Lucida Grande", "Sans-Serif";
    font-size: 15px;
    color: #669;
    margin-left: 20px;
}

#buttonEnviar{
    
    margin-left: 240px;
    font-size: 20px;
    margin-bottom: 20px;

}



