body{
    background-color: beige;
}

#listaProductos{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

#containerTitle{
    margin-top: 20px;
    background-color: #279C33;
    border-radius: 25px;
    
}

#containerTable{
    background-color: #C94ECC;
    border-radius: 25px;
}

#buttonRegresar{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}
